# Introduction

## Value data types

Programmes process structured information: it is therefore not just a question of what exactly is displayed, but also how the information is stored. We can either say "next Monday" or specify a concrete date. The information is identical, but depending on the context, one is easier to process than the other.

Python basically offers very similar data types to other programming languages. Here we first cover the most important built-in data types. You can define your own, as we will see later.

    int (integer) stores an integer without restrictions in the value range (e.g. 42)
    float (float) stores a decimal number in (usual) double precision (e.g. 1.2)
    str (string) stores a character string (e.g. "a word"); in Python always in single or double inverted commas
    bool (Boolean) stores a truth expression (True or False)
    bytes (bytes) contains a byte sequence, i.e. binary data (e.g. an image or measurement data)

Data types are not declared, but arise through implicit use. This is also known as weak typing or "duck typing": as long as an object behaves like a number, it is irrelevant whether it is actually a number.

Each of the data types has its own functions that work on this data type. Number functions, for example, can only be applied to number data types, but not to character strings. Thus 1+1 or 1+1.2 is permitted, but 1+"1" (i.e. the sum of number and character string) is not permitted and is acknowledged with an error, the TypeError. An implicit conversion is only carried out from integers to decimal numbers (but not vice versa), as well as between Booleans and integers (in both directions). In general, implicit conversions of data types tend to have side effects that are not always clearly understood and therefore generate errors that go unrecognised for a long time. Explicit conversions are easily possible: int("2") results in 2 and str(2) results in "2".

### Exercise questions

#### 1. Which of the following expressions is allowed?

42 -7 
1 * True
1.1 * True
1.1 * "True"

In [2]:
42 - 7

35

This expression is valid as it's a simple subtraction of integers

In [3]:
1 * True

1

Valid, because in Python True is treated as 1, so the multiplication works

In [4]:
1.1 * True

1.1

This expression is valid, multiplying a float by True is valid as it was seen before

In [5]:
1.1 "True"

SyntaxError: invalid syntax (4146504423.py, line 1)

Not valid, because it is not possible to multiply a float by string

#### 2. Natural numbers are represented as int. How are rational numbers represented?

In [6]:
from fractions import Fraction

from fractions import Fraction

#### 3. Which of the following conversions fail and why?

In [7]:
str (1.2)

'1.2'

Valid, it change the float to a string. It a easily change

In [8]:
int(1,3)

TypeError: int() can't convert non-string with explicit base

The conversion fails with a TypeError because Python's int() function only allows the second argument (base) when converting a string, not when converting a number.

In [9]:
float(2)

2.0

Converts the 2 to a 2.0. Valid

# Integers

Arithmetic operations are expressed in Python as expected:

In [10]:
4+2

6

In [11]:
1-2

-1

In [12]:
1*3

3

In [13]:
4/2

2.0

In [14]:
2**3 # 2 to the power of 3

8

Please note that the result of an integer division is a decimal number. Integer division is rounded off with //:

In [15]:
2//2

1

In [16]:
3//2

1

In [17]:
4//2

2

The modulo operator calculates the remainder after integer division:

In [18]:
10 % 3

1

In [19]:
15 % 4

3

Python can process integers of any size:

In [20]:
10**100

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

Exponents can be both integers and decimal numbers. The return value is always an integer if the base and exponent are both integers and the result can be represented as an integer.

In [21]:
2**3

8

In [22]:
2**3.0

8.0

In [23]:
2**-3

0.125

#### Conversion

In general, various data types can be converted to integers:

In [24]:
int ("2")

2

In [25]:
int (1.2)

1

In [26]:
int (1.9)

1

However, the mixture of the two examples is not immediately successful:

In [27]:
int ("1.9")

ValueError: invalid literal for int() with base 10: '1.9'

Trying to covert a string into a float fails

In [28]:
int(float("1.9"))

1

Now, first the string was converted into a float. And the float into a integer

| OPERATOR | DESCRIPTION | EXAMPLE |
|----------|-------------|---------|
| `+`      | Performs addition between operands | `12 + 3 = 15` |
| `-`      | Performs subtraction between operands | `12 - 3 = 9` |
| `*`      | Performs multiplication between operands | `12 * 3 = 36` |
| `/`      | Performs division between operands | `12 / 3 = 4` |
| `%`      | Returns the remainder of the division between operands | `16 % 3 = 1` |
| `**`     | Performs exponentiation of the operands | `12 ** 3 = 1728` |
| `//`     | Performs floor division (integer result) between operands | `18 // 5 = 3` |

# Decimal numbers

Arithmetic operations are expressed in Python as expected:

In [29]:
1.2*3.7

4.44

In [30]:
1.1 + 2.2

3.3000000000000003

In [31]:
3.3/1.1

2.9999999999999996

This fails because floating-point arithmetic in Python can lead to small precision errors due to the way decimal numbers are represented in binary

In [32]:
1.0-42.4711

-41.4711

Decimal numbers can also be given in scientific notation:

In [33]:
1e3

1000.0

Decimal numbers are calculated in Python with fixed precision (so-called double precision), i.e. with approx. 15 significant digits. This is particularly important because it means that a calculation (unlike in a formula) will not be exact and the numerical stability depends on the exact implementation..

In [34]:
1e15+1

1000000000000001.0

In [35]:
1e16+1

1e+16

The modulo operator calculates the remainder after division:

In [36]:
42.0 % 23.0

19.0

#### Conversion

In general, various data types can be converted to decimal numbers:

In [38]:
float ("2.1")

2.1

# Character strings

Strings are delimited with single ' or double " or triple-double """ inverted commas. The latter variant allows multi-line strings to be written:

In [39]:
"Hello world"
'Hello world'
""" Hello
dear
world"""

' Hello\ndear\nworld'

A mixture of inverted commas for separation is not permitted, but their occurrence in a text separated by other inverted commas is:

In [40]:
"Can't touch this"
'Then he said "Heureka!".'

'Then he said "Heureka!".'

However, if both characters ' and " are to occur, then the occurrences of the outer inverted commas in the string itself must be masked by prefixing them with \:

In [41]:
'Then he said "Can\'t touch this".'

'Then he said "Can\'t touch this".'

Two strings can be combined:

In [42]:
"Whoever says A " + "can be wrong. "

'Whoever says A can be wrong. '

With a defined addition, a multiplication is of course also defined:

In [43]:
"Na" * 12 + " Batman!"

'NaNaNaNaNaNaNaNaNaNaNaNa Batman!'

If you have a list of strings, you can join them using the str.join function:

In [44]:
",".join(["Monday", "Tuesday"])

'Monday,Tuesday'

In [45]:
"-...-".join(["Monday", "Tuesday", "Wednesday"])

'Monday-...-Tuesday-...-Wednesday'

Parts of a string can be obtained via the indexing [a:b]. Here, a is the first character to be extracted and b is the first character that should no longer be included. In Python, the count starts at 0.

In [46]:
"Testator"[2:6]

'stat'

Individual letters can also be extracted in this way, negative indices count from the back:

In [47]:
"Part" [0]

'P'

In [48]:
"Part" [-1]

't'

In [49]:
"Part" [-3:-1]

'ar'

If one of the limits in [a:b] is omitted, 0 is assumed for a and -1 for b. This is a general convention in Python beyond strings.

In [50]:
"Part" [1:]

'art'

In [51]:
"Part" [-1]

't'

In [52]:
"Part" [:-2]

'Pa'

#### Conversion

Conversion is simple but not always obvious:

In [53]:
str(2)

'2'

In [54]:
str(1/9*9)

'1.0'

In [55]:
str(1)

'1'

In [56]:
str(1/9)

'0.1111111111111111'

# Logical expressions

These binary variables allow the state True (true) or False (false). They can be concatenated using and (and) and or (or) as in normal language usage:

In [57]:
True and False

False

In [58]:
True or False

True

Here, 'and' takes precedence over 'or':

In [60]:
(True or False) and False

False

In [61]:
True or (False and False)

True

In [62]:
True or False and False

True

To improve the readability of the code, it is advisable to always use explicit brackets. Otherwise it is easy to lose track of complex conditions.

#### Conversion

As in other programming languages, many data types are implicitly converted into truth expressions. The following applies to numbers: zero is false, everything else is true. For strings, only the empty string is False.

In [63]:
bool(2)

True

In [64]:
bool(-1)

True

In [65]:
bool(0)

False

In [66]:
bool(0.)

False

In [67]:
bool("True")

True

In [68]:
bool("False")

True

In [69]:
bool ("")

False

Analogue to the rule "if it is nothing or zero, then it is False", containers are False if they are empty:

In [70]:
bool([])

False

In [71]:
bool([False])

True

In [72]:
bool({})

False

In [73]:
bool(set())

False